.ecomContainer {
  padding-top: 5rem;
  background: #D8D5E2;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

.card_with_badge, .card_image {
  width: 18rem;
  background: var(--white);
}

.card_with_badge{
  justify-content: space-evenly;
}

.card_price{
  padding: 0.5rem 0;
}

.rates{
  justify-content: space-between;
  align-items: center;
}