.ecomContainer {
  padding: 4.2rem 0;
  background: var(--backgroung);
}

.links a {
  font-size: 1.2rem;
  margin: 1rem;
}

.card_with_badge,
.card_image {
  width: 17rem;
  background: var(--white);
}

.card_with_badge {
  justify-content: space-evenly;
  margin: 0;
  gap: 0;
  padding-bottom: 0.4rem;
}

.card_price {
  padding: 0.5rem 0;
}

.rates {
  justify-content: space-between;
  align-items: center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/* variables defined */

:root {
  --backgroung: #d8d5e2;
}

.cursor {
  cursor: pointer;
}
